{% load static %}

{% include "nav.html" %}
      
      <!-- login page -->
      <form action="/login/" method='post'>
      <div id="login_page" class="login-page animate__animated animate__fadeInUp">
         <div class="container custom_container ">
            <h3 class="text-center">Log in to your account </h3>

            <div id="login" class="page-content card card-block p-3 p-sm-4 ">
               {% if messages %}
                  <div class="messages">
                     {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" style="color: red;">
                        {{ message }}
                        </div>
                     {% endfor %}
                  </div>
               {% endif %}

               <form class="needs-validation " method="post" novalidate >
                {% csrf_token %}
                  <div class="form-group">
                     <label for="user_email" class="font-weight-bolder">Email address</label>
                     <input type="email" class="form-control" id="user_email" name='email' aria-describedby="emailHelp" required>
                     <div class="invalid-feedback">Please Enter your Account Name.</div>
                     <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group font-weight-bolder" >
                     <label for="user_password" class="font-weight-bolder">Password</label>
                     <input type="password" class="form-control" id="user_password" name='password' required>
                     <div class="invalid-feedback">Please enter your password.</div>
                  </div>
                  <input type="submit" name="submit" class="btn btn-primary mb-3" value="submit">
                  <div class="pass_acc border-top pt-3">
                     <span class="forgot_password font-weight-bolder"><a href="{% url "forget_pass" %}">Forgot your password? </a></span>
                     <span class="no_account float-right font-weight-bolder"><a href="{% url "register" %}">No account? Create one here</a></span>
                  </div>
               </form>
            </div>
         </div>
      </div>
    </form>
      <!-- login_page -->
      <!-- login page -->

      <!-- footer -->

      {% include "footer.html" %}


      
      <script>
         // Disable form submissions if there are invalid fields
         (function() {
           'use strict';
           window.addEventListener('load', function() {
             // Get the forms we want to add validation styles to
             var forms = document.getElementsByClassName('needs-validation');
             // Loop over them and prevent submission
             var validation = Array.prototype.filter.call(forms, function(form) {
               form.addEventListener('submit', function(event) {
                 if (form.checkValidity() === false) {
                   event.preventDefault();
                   event.stopPropagation();
                 }
                 form.classList.add('was-validated');
               }, false);
             });
           }, false);
         })();
      </script>
      
   </body>

<!-- Mirrored from dostguru.com/HTML/plantly/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 10 Nov 2023 08:19:00 GMT -->
</html>

